sqlmodel
sqlalchemy
pytest
ruff
fastapi
minio
python-multipart  # needed by FastAPI for UploadFile / multipart/form-data
python-dotenv
uvicorn
httpx # needed by TestClient
psycopg[binary] # needed for psql connection

pika==1.3.2
